.button {
  border: 1px solid $main-color;
  background-color: $main-color;
  color: #fff;
  padding: .7em 1.5em;
  border-radius: .4em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 500;
  font-size: .9em;
  transition: 0.3s;

  &:hover {
    border: 1px solid $main-color;
    background: transparent;
    color: $main-color;
  }

  a{
    text-decoration: none;
    color:white;
  }

  a:hover{
    color: $main-color;
  }

  @media screen and (max-width: $mdMax){
    padding: .2em .5em;
  }

  &--lighter {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;
    padding: .7em 1.5em;
    font-weight: 600;

    @media screen and (max-width: $mdMax){
      padding: .2em .5em;
    }
  }
}

.more-news{
  display: inline-block;
  padding: 1em 2em;
  background-color: #fff;
  border: solid 2px #1EAAF1;
  border-radius: 3px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 700;
}
