.event {
  font-family: 'Lato', sans-serif;

  &__inner {
    background: #c7d1db;
    padding: 2em;
  }

  &__date {
    font-size: 1.3em;
    font-weight: 300;
    color: #424c5c;
    margin-bottom: .5em;
  }

  &__title {
    font-weight: 600;
    color: #424c5c;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 2em; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: 1;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__university {
    color: $main-color;
    font-size: .75em;
    margin: 1em 0 1em 0;
  }

  &__more {
    text-align: right;
    color: #4386ff;
    font-weight: 400;
    font-size: .75em;
    width: 100%;
    display: inline-block;
  }

  &__arrow {
    border: solid #95aec9;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    &--right {
      transform: rotate(-45deg) translateY(-50%);
      position: absolute;
      top: 50%;
    }
  }

  a {
    text-decoration: none;
    color: #424c5c;
  }
  
  a:hover{
    color: $main-color;
  }
}

.row-event-calendar {
  padding: 0 2em;

  &__logo {
    margin-bottom: 4em;
  }

  &__mini-calendar {
    background: $main-color;
    height: 20em;
    padding: 2em;
    color: white;
    margin-bottom: 2em;
  }

  h5 {
    font-weight: bold;
  }
}

.row-event-content{

  h5{
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 1.2em;
  }

  img{
    width: 10em;
    float: left;
    margin: 0 1em 1em 0;
  }

  p{
    margin-bottom: 1.5em;
  }
}

.row-event-location{
  margin-top: 7em;
  font-size: .9em;
  color: $border-color;

  &__share{
    border-top: 1px solid $article-border-color;
    padding: 1em 0;

    img{
      width: 1.5em;
      margin-right: .5em;
    }
  }

  &__map {
    height: 15em
  }

  &__info-location{
    background: #ecf0f4;
    padding: 1em;
    color: $article-content-color;

    span{
      font-weight: 600;
    }

    a{
      color: $article-content-color;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $mdMax) {
  .event__inner{
    padding: 1.2em;
  }

  .event__date{
    font-size: 1em;
  }

  .event__title{
    font-size: 1.5em;
  }

}

@media screen and (max-width: $smMax) {

  .event__title{
    height: auto;
  }

  .event:not(:first-child) {
    display: none;
  }

  .event__arrow{
    display: none;
  }

  .row article{
    padding: 0;
  }
}

