.event {
  font-family: 'Lato', sans-serif;

  &__inner {
    background: #c7d1db;
    padding: 2em;
  }

  &__date {
    font-size: 1.3em;
    font-weight: 300;
    color: #424c5c;
    margin-bottom: .5em;
  }

  &__title {
    font-weight: 600;
    color: #424c5c;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: $font-size*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: 1;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__university {
    color: $main-color;
    font-size: .75em;
    margin: 1em 0 2em 0;
  }

  &__more {
    float: right;
    color: #4386ff;
    font-weight: 400;
    font-size: .75em;
  }

  &__arrow {
    border: solid #95aec9;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    &--right {
      transform: rotate(-45deg) translateY(-50%);
      position: absolute;
      top: 50%;
    }
  }
}