.expert {
  font-family: 'Lato', sans-serif;

  &__inner {
    background: #fff;
    border: 1px solid $border-color;
    border-top: 0.5em solid $main-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    border-bottom: 1px solid $border-color;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 3.4em;
    }

    h3 {
      margin: 0 .5em;
      font-weight: 800;
      font-size: 1.3em;
      line-height: 1.3em;
      color: $expert-content-color;
    }
  }

  &__info {
    padding: 1em 1.5em 0;
    font-size: .9em;
    color: $expert-content-color;

    h5 {
      font-weight: 600;
      font-size: 1em;
      margin: auto 0;
    }
  }

  &__footer {
    padding: 1em 1.5em;
    img {
      width: 10em;
    }
  }

}

.owl-pagination {
  margin-top: 1em;
  text-align: center;


  &__owl-page {
    width: 1em;
    height: 1em;
    border: 1px solid $secondary-color;
    display: inline-block;
    border-radius: 50%;
    &:hover {
      background: $secondary-color;
      border: 1px solid $secondary-color;
    }
  }
}

@media screen and (max-width: $mdMax) {
  .expert:not(:first-child):not(:nth-child(2)) {
    display: none;
  }
  .expert:first-child{
    padding-left: 0 ;
  }

  .expert:nth-child(2){
    padding-right: 0 ;
  }
}

@media screen and (max-width: $smMax) {
  .expert:not(:first-child) {
    display: none;
  }
}