.article-container{
  padding: 2.5em 2em;
}

.items{
  margin: 2em auto;
  width: 100%;
  max-width: 60em;

  article{
    border-bottom: 1px solid $article-border-color;
    padding: 2em 0;
  }

  article:first-child{
    padding: 0 0 2em;
  }

  article:last-child{
    border-bottom: 0;
  }

  &__portada{
    padding: 0;
  }

  &__item-info{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__article-data{
      text-transform: uppercase;
      color: $article-border-color;
      float: right;
      font-weight: normal;
      text-align: right;
      letter-spacing: 1px;
      line-height: 12px;
    }

    &__article-info{

      h5{
        color: $main-color;
      }

      h2{
        font-size: 21px;
        line-height: 25px;
        font-weight: 700;
        margin-top: 2px;
      }

      p{
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

}

.more{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: $mdMax) {

  .items {
    margin: 0;
    width: 100%;
    max-width: none;

    article:first-child{
      padding: 2em 0;
    }
  }

  .stats{
    display: block;
  }

}

@media screen and (max-width: $smMax) {

  .items{
    &__portada{
    padding: 2em 2em 1em 2em;
    }

    &__item-info{
    padding: 0 2em;

      &__article-data{
        margin-bottom: .8em;
        float: left;
        text-align: left;
      }
    }

    article:first-child{
      padding: 0 0 2em;
    }
  }

  .stats{
    display: none;
  }

  .more-news {
    padding: .5em 1em;
    border: 1px solid;
    font-size: .8em;
  }

  .items__item-info__article-info {
    p, h5 {
      display: none;
    }

    h2 {
      font-size: 24px;
      margin: 0;
      line-height: 24px;
    }
  }

}