.publicaciones {
  margin: 5em auto;
  width: 100%;
  max-width: 70em;

  article {
    border-bottom: 1px solid $article-border-color;
    padding: 5em 0;
  }

  article:first-child {
    padding: 0 0 5em;
  }

  article:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &__coverbook {
    padding: 0;
  }

  .publi-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ul-publi-data {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .download {
    width: 100%;
    background-color: transparent;
    border: solid 2px $main-color;
    color: $main-color;
    border-radius: 20px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    transition: 0.3s;
  }

  .download:hover{
    background-color: $main-color;
    border: solid 2px $main-color;
    color: white;
  }

  .publi-data {
    padding: 1em 0;
    border-top: 1px dashed $secondary-color;
    text-transform: uppercase;
    font-size: .7em;

    span {
      font-weight: bold;
      float: right;
    }
  }

  &__infobook {
    padding-left: 2em;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: inline;
      padding: 0 1.5em;
      border-right: 1px solid $tag-book-color;
      font-size: 15px;
    }

    li a {
      text-decoration: none;
      color: $tag-book-color;
    }

    li:first-child {
      padding-left: 0;
    }

    li:last-child {
      border: 0;
    }

    h2 {
      font-weight: 700;
      line-height: 1.3em;
      margin-bottom: 0;
    }

    p {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 21px;
      margin: 0;
      margin-top: 1.3em;
    }

    span {
      margin-left: 1.5em;
      font-family: Roboto;
      font-size: 16px;

      .usernametext {
        text-transform: uppercase;
        margin-left: 0;
      }
    }

    .read {
      margin-top: .7em;

      span {
        margin-left: 0;
      }
    }

    .redes {
      display: inline;
      font-weight: 500;
      font-size: 15px;
      border: 0;
      padding: 0;
    }
  }

  &__content {
    display: none;
    margin-top: 1.5em;
    color: #7d8488;
    font-weight: normal;
    font-size: 1.1em;
  }

  .share-container {
    float: left;
    margin-top: 1em;
    padding-left: 1em;
    border-left: 1px solid $tag-book-color;
  }
}

.publicacion-toggle {
  border: none;
  background-image: none;
  background-color: transparent;
  text-align: left;
  padding: 0;

  &:hover {
    color: $main-color;
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: $mdMax) {

  .publicaciones {
    margin: 3em auto;
    max-width: none;

    &__infobook {
      padding-left: 1em;

      h2 {
        font-size: 2em;
        margin-top: .2em;
      }

      p {
        font-size: 14px;
        margin-top: 1em;
      }

      .read {
        display: none;
      }
    }

    .share-container {
      padding-left: 0;
      border: 0;
    }

    &__content {
      padding: 0;
      margin-top: .5em;
    }
  }

}

@media screen and (max-width: $smMax) {
  .publicaciones {
    margin-bottom: 1em;

    article {
      padding: 2em 0;
    }

    article:first-child {
      padding: 0 0 2em;
    }

    .publicacion {
      > div {
        padding: 0;
      }
    }

    &__content {
      font-size: 1em;
    }

    &__coverbook{
      max-width: 14em;
      padding-right: .25em;
    }

    .publi-data-container{
      max-width: 14em;
      padding-left: .25em;
      padding-right: 0;
    }

    .publi-data{
      padding: .5em 0;
    }
  }

  .publicaciones__infobook {
    margin-top: 1.5em;
    h2 {
      font-size: 1.6em;
      margin-top: 0;
    }
    span {
      display: none;
    }

    ul {
      display: none;
    }

    p {
      margin-top: .5em;
    }
  }

}