.section-title {
  border-bottom: 1px solid $article-border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: .75em;
  margin-bottom: 1.5em;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8em;
    color: $secondary-color;
    margin-bottom: .2em;

    &.has-link {
      cursor: pointer;
    }

    .arrow--down {
      transform: rotate(90deg);
      display: inline-block;
    }

    @media screen and (max-width: $mdMax){
      font-size: 1.3em;
    }
  }

  &__submit {
    span {
      margin-right: 1em;
      color: $expert-content-color;

      @media screen and (max-width: 400px){
        display: none;
      }
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3em;
    font-family: 'Lato', Helvetica;
    color: $article-content-color;
    margin: 0 0 1.3em 1.3em;
  }
}

.border_section {
  border-bottom: 1px solid $article-border-color;
}