$main-color: #5054b0;
$font-size: 24px;
$lines-to-show: 2;
$secondary-color: #95aec9;
$border-color: #949698;
$expert-content-color: #424c5c;
$article-content-color: #444848;
$article-border-color: #ddd;
